extends ../pug/layout.pug

block meta
  title Registration
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

  p.
      #[+btn('ВОЙТИ')(href='/')]
      #[+btn('ЗАРЕГИСТРИРОВАТЬСЯ', '', true)(name='submit')]

block content
  h1 Заголовок
  p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].
  p.
      #[+btn('Кнопка-ссылка')(href='/')]
      #[+btn('Кнопка-input', '', true)(name='submit')]
      #[+btn('Кнопка-button', 'second')]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
